*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100wh;
    height: 100vh;
    margin-top: 20px;
    
}

.conatiner{
    width: 90%;
    height: 30%;
    background-color: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container1{
    width: 80%;
    height: 40%;
    background-color: rgb(222, 2, 222);
}
.conatiner2{
    width: 20%;
    height: 30%;
    background-color: yellow;
    position: relative;
    bottom: 15%;
    left: 20%;
    border: 2px dotted black;
    display: flex;
    justify-content: center;
    align-items: center;
}